@import "tailwindcss";

html, body {
     width: 100vw;
     overflow-x: hidden;
 }
 
 * {
     box-sizing: border-box;
 }
 
 body {
     margin: 0;
     padding: 0;
 }
 
 .container {
     max-width: 100%;
     overflow-x: hidden;
 }
 
/* Teal & Grey (Modern & Calm)
Background: #CFD8DC (Light Grey)
Text: #009688 (Teal)
Headings: #00695C (Dark Teal)
Buttons/CTA: #FFEB3B (Bright Yellow)
Underline/Accent: #00ACC1 (Cyan) */

.bg-custom {
     background-color: #E0E1DD
}

.bg-navbar{
     background-color: #0D1B2A;
}

.bg-navbar-dark{
     background-color: #0B1520;
}

.bg-footer{
     background-color: #415A77;
}

.light-text {
          color: #FFF;
        }
.dark-text{
          color: #0D1B2A
 }
.border-dark{
     border-color: #0D1B2A;
}
  /* primary{
          DEFAULT: "#415A77", // Charcoal as the primary accent
          light: "#778DA9", // Light blue for a softer touch
        }, */


.text-custom {
     color: #009688;
}

.heading-custom {
     color: #002349;
}

.button-custom {
     background-color: #415A77;
}

.underline-custom {
     background-color: #00ACC1;
     color: #00ACC1;
}

.border-custom {
     border-color: #00ACC1;
}

.col-wid{
     column-width: 25%;
}